.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Example to fill the screen */
  background: linear-gradient(180deg, #0C1747 0%, rgba(37, 60, 92, 0.62) 100%);
  border: 1px black solid;
}
