@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

 --font-dm-sans: "DM Sans";

 /* font sizes */
 --font-size-6xl: 1.563rem;
 --font-size-xl: 1.25rem;
 --font-size-15xl: 2.125rem;
 --font-size-8xl: 1.688rem;

 /* Colors */
 --color-white: #fff;
 --brand-blue: #0c1747;
 --color-black: #000;
 --color-gainsboro: #d9d9d9;
 --brand-cream: #fbf6ef;
 --brand-dark-grey: #5a5a5a;
 --brand-black: #151515;
 --brand-yellow: #f9a72b;

 /* Gaps */
 --gap-0: 0rem;
 --gap-xl: 1.25rem;

 /* Paddings */
 --padding-xl: 1.25rem;
 --padding-8xs: 0.313rem;
 --padding-3xl: 1.375rem;
 --padding-mid: 1.063rem;
 --padding-9xs: 0.25rem;
 --padding-8xl: 1.688rem;
 --padding-2xl: 1.313rem;
 --padding-base: 1rem;

 /* Border radiuses */
 --br-3xs: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  line-height: normal;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
