@import url('https://fonts.cdnfonts.com/css/dm-sans');

.sign-in-button {
    /* put in container */
    height: 100%; 
    width: 100%;
    padding: 0;

    color: #FFF;
    background-color: #0C1747;
    font-family: "DM Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}